/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.iconss:hover {
  -webkit-transform: rotate(13deg) scale(1.1);
      -ms-transform: rotate(13deg) scale(1.1);
          transform: rotate(13deg) scale(1.1);
}

.box:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.baratebi img:hover {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
}

.barati01:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati1:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati2:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati3:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati4:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati5:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati6:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati7:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati8:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati9:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati10:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati11:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati12:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati13:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati14:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati15:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati16:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati17:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati18:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati19:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.barati20:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

body {
  background-color: rgb(167, 240, 255);
}

header {
  top: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  position: sticky;
  z-index: 3;
  background-color: rgb(167, 240, 255);
}
header .damatebiti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 150px;
  width: 100%;
}
header .damatebiti .yrc {
  max-width: 200px;
  width: 100%;
}
header .damatebiti nav {
  vertical-align: center;
  margin-top: 20px;
}
header .damatebiti nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .damatebiti nav ul .iconss {
  max-width: 40px;
  width: 100%;
  height: 40px;
  margin-right: 80px;
}
header .damatebiti nav ul li {
  margin-right: 40px;
}
header .damatebiti nav ul li a {
  color: grey;
}
header .damatebiti nav ul li .active {
  color: #0B0706;
}
header .damatebiti nav ul li a:hover {
  color: rgb(1, 56, 1);
}
header .damatebiti .dropdown {
  padding-right: 2px;
}
header .damatebiti .dropdown .btn {
  border: none;
  color: rgb(4, 52, 4);
}
header .damatebiti .dropdown .dropdown-menu {
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(9, 122, 145)), to(rgb(33, 223, 236)));
  background-image: linear-gradient(to bottom right, rgb(9, 122, 145), rgb(33, 223, 236));
}
header .damatebiti .dropdown .dropdown-menu a {
  color: rgb(61, 61, 61);
  margin-bottom: 15px;
}
header .damatebiti .fa-bars {
  display: none;
}
header .damatebiti .dropdown {
  display: none;
}
@media (max-width: 1110px) {
  header .damatebiti nav {
    display: none;
  }
  header .damatebiti .fa-bars {
    display: inline-block;
    margin-top: 20px;
  }
  header .damatebiti .dropdown {
    display: inline-block;
  }
}
@media (max-width: 1100px) {
  header {
    margin: 5px 5px;
  }
  header .damatebiti {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  header .damatebiti h1 {
    font-size: 29px;
    margin-top: 16px;
  }
}
@media (max-width: 500px) {
  header {
    height: 70px;
    padding-top: 5px;
  }
  header .damatebiti .yrc {
    width: 140px;
  }
}

.s-1 {
  background-image: url("https://media1.thehungryjpeg.com/thumbs2/800_3492755_618863b3d75829e07b84fbe97113bb2324fa7f43_blue-waves-pattern-summer-lake-wave-water-flow-abstract-vector-seaml.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
  padding: 168px 20px;
  margin-top: 20px;
}
.s-1 h2 {
  max-width: 1150px;
  width: 100%;
  padding-left: 110px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
  margin-bottom: 40px;
  text-shadow: 3px 3px rgb(26, 5, 183);
}
@media (max-width: 950px) {
  .s-1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .s-1 h2 {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    padding: 0 0;
  }
}
@media (max-width: 450px) {
  .s-1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .s-1 h2 {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    padding: 0 0;
  }
}

.s-2 {
  margin-bottom: 50px;
  background-color: #88daf5;
  padding: 30px;
}
.s-2 .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 96px auto;
}
.s-2 .box1 .line {
  width: 71px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-right: 10px;
}
.s-2 .box1 .aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 96px;
  max-width: 608px;
  width: 100%;
}
.s-2 .box1 .aboutus h3 {
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(75, 172, 205);
}
.s-2 .box1 .aboutus h4 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin: 50px 0 50px 0;
}
.s-2 .box1 .aboutus p {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.s-2 .box1 .aboutus button {
  background-color: rgb(209, 217, 48);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* padding: 16px 32px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: 10px; */
  border: none;
  width: 146px;
  height: 51px;
  border-radius: 10px;
  color: white;
  position: absolute;
}
.s-2 .box1 .aboutus button:hover {
  background-color: #377d3a;
  cursor: pointer;
}
.s-2 .box1 .img {
  max-width: 500px;
  width: 100%;
}
.s-2 .box1 .img .s-2img {
  width: 88%;
  -webkit-transition: width 2s, -webkit-transform 1s;
  transition: width 2s, -webkit-transform 1s;
  transition: width 2s, transform 1s;
  transition: width 2s, transform 1s, -webkit-transform 1s;
}
.s-2 .box1 .img .s-2img:hover {
  width: 93%;
  -webkit-transform: 88%;
      -ms-transform: 88%;
          transform: 88%;
}
@media (max-width: 1450px) {
  .s-2 .box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 14px;
    margin: 0 auto;
  }
  .s-2 .box1 .line {
    display: none;
  }
  .s-2 .box1 .aboutus {
    margin: 0 auto;
    text-align: center;
  }
  .s-2 .box1 .aboutus h3 {
    margin: 0 auto;
  }
  .s-2 .box1 .aboutus h4 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .s-2 .box1 .aboutus a {
    margin: 0 auto;
  }
  .s-2 .box1 .img {
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
  }
  .s-2 .box1 .img .s-2img {
    width: 100%;
  }
}
.s-2 .box2 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.s-2 .box2 .div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.s-2 .box2 .div1 h5 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-bottom: 20px;
}
.s-2 .box2 .div1 .line2 {
  max-width: 1220px;
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  vertical-align: middle;
  margin-top: 5px;
}
@media (max-width: 1450px) {
  .s-2 .box2 {
    background-color: #BEF3C0;
    padding: 20px;
  }
  .s-2 h5 {
    margin: 20px auto;
  }
  .s-2 .line2 {
    display: none;
  }
}

.s-3 {
  padding: 5px;
  background-color: #beeef3;
}
.s-3 .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 96px auto;
}
.s-3 .box1 .line {
  width: 71px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-right: 10px;
}
.s-3 .box1 .aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 96px;
  max-width: 608px;
}
.s-3 .box1 .aboutus h3 {
  color: blue;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 1000px) {
  .s-3 .box1 .aboutus h3 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .s-3 .box1 .aboutus h3 {
    margin: 0 auto;
  }
}
.s-3 .box1 .aboutus h4 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .s-3 .box1 .aboutus h4 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .s-3 .box1 .aboutus h4 {
    font-size: 27px;
  }
}
.s-3 .box1 .aboutus .p {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
@media (max-width: 1000px) {
  .s-3 .box1 .aboutus .p {
    text-align: center;
  }
}
.s-3 .box1 .aboutus .advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}
.s-3 .box1 .aboutus .advice .line3 {
  height: 441px;
  width: 1.5px;
  background-color: #a8b2e0;
  opacity: 50%;
  margin-right: 24px;
}
.s-3 .box1 .aboutus .advice nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 441px;
}
.s-3 .box1 .aboutus .advice nav .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}
.s-3 .box1 .aboutus .advice nav .main i {
  margin-right: 9px;
  color: rgb(19, 37, 235);
}
.s-3 .box1 .aboutus .advice nav .main div h1 {
  color: var(--primary-text, #1D2130);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 700px) {
  .s-3 .box1 .aboutus .advice nav .main div h1 {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .s-3 .box1 .aboutus .advice nav .main div h1 {
    font-size: 15px;
  }
}
.s-3 .box1 .aboutus .advice nav .main div p {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
@media (max-width: 1000px) {
  .s-3 .box1 .aboutus {
    margin: 0 auto;
  }
}
.s-3 .box1 img {
  max-width: 800px;
  width: 100%;
}
@media (max-width: 1000px) {
  .s-3 .box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .s-3 .box1 img {
    max-width: 600px;
    width: 80%;
    margin: 33px auto;
  }
  .s-3 .box1 .line {
    display: none;
  }
}
@media (max-width: 1500px) {
  .s-3 {
    padding: 30px;
  }
}

.s-4 {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}
.s-4 .box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-top: 96px;
}
.s-4 .box3 .line {
  width: 71px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-right: 10px;
}
@media (max-width: 700px) {
  .s-4 .box3 .line {
    display: none;
  }
}
.s-4 .box3 .aboutus {
  max-width: 640px;
  width: 100%;
}
.s-4 .box3 .aboutus h3 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: rgb(79, 79, 2);
}
.s-4 .box3 .aboutus p {
  color: var(--secondary-text, #537eac);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .s-4 .box3 .aboutus p {
    font-size: 18px;
    margin: 15px auto;
  }
}
@media (max-width: 700px) {
  .s-4 .box3 {
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
}
.s-4 .cardsbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 50px;
}
.s-4 .cardsbox .card1 {
  position: relative;
  max-width: 411px;
  width: 100%;
}
.s-4 .cardsbox .card1 p {
  position: absolute;
  margin: 10px;
}
.s-4 .cardsbox .card1 .tint {
  max-width: 411px;
  width: 100%;
  max-height: 421px;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-4 .cardsbox .card1 .tint:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 1300px) {
  .s-4 .cardsbox .card1 {
    margin: 20px auto;
  }
}
@media (max-width: 1300px) {
  .s-4 .cardsbox {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .s-4 {
    padding: 20px 20px;
  }
}

.s-4-1 {
  padding: 50px;
  margin: 30px auto;
  background-color: #88daf5;
}
.s-4-1 .box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
}
.s-4-1 .box3 .line {
  width: 71px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-right: 10px;
}
@media (max-width: 700px) {
  .s-4-1 .box3 .line {
    display: none;
  }
}
.s-4-1 .box3 .aboutus {
  max-width: 640px;
  width: 100%;
}
.s-4-1 .box3 .aboutus h3 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: rgb(79, 79, 2);
}
.s-4-1 .box3 .aboutus p {
  color: var(--secondary-text, #537eac);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .s-4-1 .box3 .aboutus p {
    font-size: 18px;
    margin: 15px auto;
  }
}
@media (max-width: 700px) {
  .s-4-1 .box3 {
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
}
.s-4-1 .cardsbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
}
.s-4-1 .cardsbox .card1 {
  position: relative;
  max-width: 411px;
  width: 100%;
}
.s-4-1 .cardsbox .card1 p {
  position: absolute;
  margin: 10px;
}
.s-4-1 .cardsbox .card1 .tint {
  max-width: 411px;
  width: 100%;
  max-height: 421px;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-4-1 .cardsbox .card1 .tint:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 1300px) {
  .s-4-1 .cardsbox .card1 {
    margin: 20px auto;
  }
}
@media (max-width: 1300px) {
  .s-4-1 .cardsbox {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .s-4-1 {
    padding: 20px 20px;
  }
}

.s-5 {
  background-color: black;
  padding: 142px 110px;
  margin-top: 96px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-5 .text {
  max-width: 610px;
  width: 100%;
}
.s-5 .text h2 {
  color: #FFF;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 16px;
}
@media (max-width: 700px) {
  .s-5 .text h2 {
    font-size: 25px;
  }
}
.s-5 .text p {
  color: #9c9898;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 36px;
}
.s-5 .text nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.s-5 .text nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-5 .text nav ul .cube {
  background-color: #EFF7F2;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 5px;
}
.s-5 .text nav ul .cube1 {
  background-color: #70C174;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 5px;
}
.s-5 .text nav ul li {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  vertical-align: middle;
}
.s-5 .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: black;
  background: conic-gradient(#EFF7F2 0deg 96deg, #70C174 96deg 360deg);
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
.s-5 .circle .hole {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #000;
}
@media (max-width: 1000px) {
  .s-5 .circle {
    width: 200px;
    height: 200px;
  }
  .s-5 .circle .hole {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 400px) {
  .s-5 .circle {
    margin: 50px auto;
  }
}
@media (max-width: 700px) {
  .s-5 {
    padding: 30px;
  }
}

footer {
  background-color: rgb(7, 1, 30);
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px;
  width: 100%;
}
footer h2 {
  font-size: 20px;
  color: white;
  vertical-align: top;
  margin-top: 10px;
}
@media (max-width: 1300px) {
  footer h2 {
    margin: 40px 40px;
  }
}
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: top;
}
footer div h3 {
  margin-bottom: 24px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}
footer div a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  color: grey;
  margin-bottom: 24px;
}
@media (max-width: 1300px) {
  footer div {
    margin: 40px 40px;
  }
}
footer .form {
  max-width: 440px;
  width: 100%;
}
footer .form h4 {
  color: #FFF;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
}
@media (max-width: 400px) {
  footer .form h4 {
    font-size: 20px;
  }
}
footer .form form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .form form #email {
  padding: 24px 22px;
  background-color: rgb(5, 2, 21);
  max-width: 456px;
  width: 100%;
  height: 64px;
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  color: white;
}
footer .form form #submit {
  max-width: 136px;
  width: 100%;
}
@media (max-width: 1300px) {
  footer {
    padding: 20px;
  }
}

.meore {
  background-color: #83d1f3;
}
.meore header .hddiv .damatebiti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 70px;
  width: 100%;
}
.meore header .hddiv .damatebiti .tbc {
  max-width: 180px;
  width: 100%;
}
.meore header .hddiv .damatebiti nav {
  vertical-align: center;
  margin-top: 20px;
}
.meore header .hddiv .damatebiti nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.meore header .hddiv .damatebiti nav ul li {
  margin-right: 40px;
}
.meore header .hddiv .damatebiti nav ul li a {
  color: grey;
}
.meore header .hddiv .damatebiti nav ul li .active {
  color: #0B0706;
}
.meore header .hddiv .damatebiti nav ul li a:hover {
  color: rgb(1, 56, 1);
}
.meore header .hddiv .damatebiti .dropdown {
  padding-right: 2px;
}
.meore header .hddiv .damatebiti .dropdown .btn {
  border: none;
  color: rgb(4, 52, 4);
}
.meore header .hddiv .damatebiti .dropdown .dropdown-menu {
  padding: 20px;
  background-color: #EFF7F2;
}
.meore header .hddiv .damatebiti .dropdown .dropdown-menu a {
  color: rgb(61, 61, 61);
}
.meore header .hddiv .damatebiti .fa-bars {
  display: none;
}
.meore header .hddiv .damatebiti .dropdown {
  display: none;
}
@media (max-width: 1110px) {
  .meore header .hddiv .damatebiti nav {
    display: none;
  }
  .meore header .hddiv .damatebiti .fa-bars {
    display: inline-block;
    margin-top: 20px;
  }
  .meore header .hddiv .damatebiti .dropdown {
    display: inline-block;
  }
}
@media (max-width: 480px) {
  .meore header .hddiv .damatebiti {
    padding: 10px;
  }
  .meore header .hddiv .damatebiti .tbc {
    width: 130px;
    padding: 0;
  }
}
@media (max-width: 1100px) {
  .meore header {
    margin: 5px 5px;
  }
  .meore header .damatebiti {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  .meore header .damatebiti h1 {
    font-size: 29px;
    margin-top: 16px;
  }
}
.meore .s-1-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  margin-left: 290px;
  margin-bottom: 50px;
  padding-top: 105.5px;
}
@media (max-width: 1300px) {
  .meore .s-1-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.meore .s-1-4 .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  width: 100%;
}
.meore .s-1-4 .box1 .line {
  width: 71px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-right: 20px;
}
.meore .s-1-4 .box1 .aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 608px;
  width: 100%;
}
.meore .s-1-4 .box1 .aboutus h3 {
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.meore .s-1-4 .box1 .aboutus h4 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin: 50px 0 50px 0;
}
@media (max-width: 1200px) {
  .meore .s-1-4 .box1 .aboutus h4 {
    font-size: 23px;
  }
}
.meore .s-1-4 .box1 .aboutus p {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
@media (max-width: 1200px) {
  .meore .s-1-4 .box1 {
    width: 50%;
  }
}
.meore .s-1-4 .form {
  max-width: 600px;
  width: 100%;
}
.meore .s-1-4 .form div h1 {
  color: var(--primary-text, #1D2130);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
}
.meore .s-1-4 .form div div a {
  color: var(--primary-text, #1D2130);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-right: 20px;
  line-height: 28px; /* 175% */
}
.meore .s-1-4 .form .line2 {
  width: 279px;
  height: 1.5px;
  background-color: rgba(156, 155, 155, 0.1490196078);
  margin-bottom: 48px;
}
.meore .s-1-4 .form .div {
  margin-bottom: 48px;
}
.meore .s-1-4 .form .div p {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.meore .s-1-4 .form .llogos i {
  margin-right: 20px;
  margin-bottom: 70px;
}
@media (max-width: 1300px) {
  .meore .s-1-4 {
    margin-left: 0;
  }
  .meore .s-1-4 .box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 14px;
    margin: 0 auto;
    width: 90%;
  }
  .meore .s-1-4 .box1 .line {
    display: none;
  }
  .meore .s-1-4 .box1 .aboutus {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .meore .s-1-4 .box1 .aboutus h3 {
    margin: 10px auto;
  }
  .meore .s-1-4 .box1 .aboutus h4 {
    margin: 10px auto;
  }
  .meore .s-1-4 .box1 .aboutus a {
    margin: 0 auto;
  }
  .meore .s-1-4 .form {
    text-align: center;
  }
  .meore .s-1-4 .form .llogos {
    margin-bottom: 40px;
  }
}

.s-2-4 {
  max-width: 768px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 96px auto;
}
.s-2-4 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 90px;
  margin-bottom: 40px;
}
.s-2-4 form label {
  color: var(--primary-text, #6d6f7a);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 8px;
}
.s-2-4 form input {
  border: none;
  margin-bottom: 32px;
  margin-right: 30px;
  border-bottom: 1px solid rgba(159, 159, 159, 0.36);
  background-color: #98e5ff;
}
@media (max-width: 1200px) {
  .s-2-4 form {
    margin: 0 auto;
  }
}
.s-2-4 .form {
  max-width: 768px;
  width: 100%;
}
.s-2-4 .form #message {
  resize: none;
  max-width: 768px;
  width: 100%;
  height: 156px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--border, #E5E5E5);
  background-color: #98e5ff;
}
.s-2-4 .form input[type=button] {
  background-color: #0095ff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* padding: 16px 32px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: 10px; */
  border: none;
  width: 146px;
  height: 51px;
  border-radius: 4px;
  color: white;
  margin: 32px auto;
}
.s-2-4 .form input[type=button]:hover {
  background-color: #04149d;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .s-2-4 {
    padding: 30px;
  }
  .s-2-4 form {
    max-width: 768px;
    width: 100%;
  }
}

footer {
  margin-top: 0;
}

.s-3-5 {
  margin-bottom: 100px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-3-5 img {
  max-width: 1000px;
  width: 100%;
}
.s-3-5 h1 {
  color: var(--primary-text, #1D2130);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin: 50px auto;
  max-width: 700px;
  width: 100%;
  text-align: center;
}
@media (max-width: 600px) {
  .s-3-5 h1 {
    font-size: 30px;
  }
}
.s-3-5 h2 {
  color: rgb(14, 182, 224);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px rgb(26, 5, 183);
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .s-3-5 h2 {
    font-size: 36px;
    text-shadow: 1px 1px rgb(5, 24, 100);
  }
}
.s-3-5 .baratebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
}
.s-3-5 .baratebi button {
  background-color: #f5f5e6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* padding: 16px 32px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: 10px; */
  border: none;
  max-width: 146px;
  width: 100%;
  height: 51px;
  border-radius: 10px;
  margin-top: 350px;
  margin-left: 10px;
}
.s-3-5 .baratebi button a {
  color: var(--primary-text, #1D2130);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.s-3-5 .baratebi img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2px;
}
@media (max-width: 500px) {
  .s-3-5 .baratebi img {
    width: 200px;
    height: 200px;
    margin-bottom: 4px;
  }
  .s-3-5 .baratebi img:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.s-3-5 .baratebi button:hover {
  background-color: rgb(239, 248, 122);
  cursor: pointer;
}
.s-3-5 .baratebi .barati01 {
  background-image: url("../imgs/mate1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-5 .baratebi .barati2 {
  background-image: url("../imgs/avto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-5 .baratebi .barati3 {
  background-image: url("../imgs/paata.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-5 .baratebi .barati4 {
  background-image: url("../imgs/ninoo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-5 .baratebi .barati5 {
  background-image: url("../imgs/nodo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-5 .baratebi .barati6 {
  background-image: url("../imgs/lanna.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
@media (max-width: 500px) {
  .s-3-5 .baratebi .crd {
    max-width: 300px;
    width: 100%;
    background-size: cover;
    height: 200px;
  }
  .s-3-5 .baratebi .crd button {
    margin-top: 130px;
    max-width: 100px;
    width: 100%;
    height: 27px;
  }
  .s-3-5 .baratebi .crd button a {
    font-size: 10px;
    color: #000000;
  }
}
@media (max-width: 913px) {
  .s-3-5 .baratebi {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .s-3-5 .baratebi h1 {
    font-size: 20px;
    vertical-align: top;
  }
  .s-3-5 .baratebi h2 {
    font-size: 10px;
    vertical-align: top;
  }
}

.box3-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  width: 100%;
}
.box3-1 .line3-1 {
  width: 71px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-right: 20px;
}
@media (max-width: 1313px) {
  .box3-1 .line3-1 {
    display: none;
  }
}
.box3-1 .aboutus3-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 96px;
  max-width: 608px;
  width: 100%;
}
.box3-1 .aboutus3-1 h3 {
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.box3-1 .aboutus3-1 h4 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
@media (max-width: 1200px) {
  .box3-1 .aboutus3-1 h4 {
    font-size: 16px;
  }
}
.box3-1 .aboutus3-1 p {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
@media (max-width: 1200px) {
  .box3-1 .aboutus3-1 {
    margin-bottom: 40px;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1313px) {
  .box3-1 {
    margin: 0 auto;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form3-1 {
  margin: 0 auto;
}
.form3-1 img {
  max-width: 400px;
  border-radius: 30px;
  width: 100%;
  margin: 27px auto;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.form3-1 img:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.s-3-2 {
  margin-bottom: 100px;
  padding: 20px;
  background-color: rgb(250, 250, 227);
}
.s-3-2 h1 {
  color: var(--primary-text, #1D2130);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin: 50px auto;
  max-width: 700px;
  width: 100%;
  text-align: center;
}
@media (max-width: 600px) {
  .s-3-2 h1 {
    font-size: 30px;
  }
}
.s-3-2 .baratebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
}
.s-3-2 .baratebi button {
  background-color: #f2f2bb;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* padding: 16px 32px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: 10px; */
  border: none;
  max-width: 146px;
  width: 100%;
  height: 51px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 130px;
}
.s-3-2 .baratebi button a {
  color: var(--primary-text, #1D2130);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.s-3-2 .baratebi button:hover {
  background-color: rgb(239, 248, 122);
  cursor: pointer;
}
.s-3-2 .baratebi .barati1 {
  background-image: url("../imgs/lika.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati2 {
  background-image: url("../imgs/manoni.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati3 {
  background-image: url("../imgs/nini.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati4 {
  background-image: url("../imgs/nino.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati5 {
  background-image: url("../photo/9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati6 {
  background-image: url("../imgs/david (2).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati7 {
  background-image: url("../imgs/keso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati8 {
  background-image: url("../imgs/lizi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati9 {
  background-image: url("../imgs/salome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati10 {
  background-image: url("../imgs/ninokh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati11 {
  background-image: url("../imgs/giorgi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati12 {
  background-image: url("../imgs/dach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati13 {
  background-image: url("../imgs/tamta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati14 {
  background-image: url("../imgs/tea.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati15 {
  background-image: url("../imgs/eldari.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati16 {
  background-image: url("../imgs/lana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati17 {
  background-image: url("../imgs/liza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati18 {
  background-image: url("../imgs/mariami.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati19 {
  background-image: url("../imgs/keti.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
.s-3-2 .baratebi .barati20 {
  background-image: url("../imgs/cotne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin: 20px 20px;
  -webkit-transition: all transform 2s;
  transition: all transform 2s;
}
@media (max-width: 500px) {
  .s-3-2 .baratebi .crd {
    max-width: 300px;
    width: 100%;
    background-size: cover;
    height: 200px;
  }
  .s-3-2 .baratebi .crd button {
    margin-top: 130px;
    max-width: 100px;
    width: 100%;
    height: 30px;
  }
  .s-3-2 .baratebi .crd button a {
    font-size: 11px;
    color: black;
  }
}
@media (max-width: 913px) {
  .s-3-2 .baratebi {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .s-3-2 .baratebi h1 {
    font-size: 20px;
    vertical-align: top;
  }
}

.s-3-6 {
  margin-top: 30px;
  padding: 30px;
}
.s-3-6 .baratebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
}
.s-3-6 .baratebi video {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 5px auto;
}

/*Navbar*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(56, 176, 195);
  border-radius: 15px;
  top: 0;
  padding: 10px;
  margin: 40px 20px;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px 0px;
}

.navbar ul li {
  font-family: century;
  font-size: 2.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  padding: 8px 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar ul li a :hover {
  color: black;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

img {
  width: 50px;
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 60px;
}
.row .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 450px;
  border: 1px solid rgb(56, 176, 195);
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgb(248, 234, 40)), color-stop(50%, rgba(54, 163, 231, 0.887)));
  background: linear-gradient(to top, rgb(248, 234, 40) 50%, rgba(54, 163, 231, 0.887) 50%);
  background-size: 100% 200%;
  -webkit-transition: all 0.8;
  transition: all 0.8;
}
.row .box .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.row .box .img img {
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 120px;
  width: 100%;
  border-radius: 20px;
}
.row .box .img img:hover {
  -webkit-transform: scale(1.9);
      -ms-transform: scale(1.9);
          transform: scale(1.9);
}
@media (max-width: 400px) {
  .row .box .img img {
    max-width: 85px;
  }
}
.row .box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  -webkit-box-shadow: 0 0 20px rgb(45, 225, 198);
          box-shadow: 0 0 20px rgb(45, 225, 198);
}

@media (max-width: 800px) {
  .row {
    margin: 0 10px;
  }
  .navbar ul li a {
    font-size: 20px;
  }
}/*# sourceMappingURL=global.css.map */